<html>

<head>

    {% load static %}

    <!-- Bootstrap -->
    <link href="{% static 'ComercioEafitApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     

    <!-- Styles -->
    <link href="{% static 'ComercioEafitApp/css/gestion.css' %}" rel="stylesheet">
</head>

<body>

  <h1 class="site-heading text-center d-none d-lg-block" style="font-family: 'Arial', sans-serif; color: beige; font-size: 4em; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);">
    <span class="site-heading-lower" style="font-size: 1.5em; font-style: italic; padding-bottom: 5px;">Comercio de EAFIT</span>
  </h1>

  <div style="text-align: right; margin-right: 100px; color: beige;">

      {% if user.is_authenticated %}

      //  Hola {{user.username}}  //  <a href="{% url 'cerrar_sesion' %}" style="color: beige;">Cerrar Sesion</a>  //

      {% else %}

        <a href="{% url 'logear' %}" style="color: beige;">Login</a> &nbsp; &nbsp; <a href="{% url 'Autenticacion' %}" style="color: beige;">Registrate</a>

      {% endif %}


  </div>



 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'Home' %}">ComercioEafitApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item {% if request.path == '/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Home' %}" style="font-weight: bold; font-size: 1.2em;">Inicio</a>
          </li>
          <li class="nav-item {% if request.path == '/servicios/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Servicios' %}" style="font-weight: bold; font-size: 1.2em; ">Servicios</a>
          </li>
          <li class="nav-item {% if request.path == '/eafit_comercio' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Eafit_comercio' %}" style="font-weight: bold; font-size: 1.2em; ">$ Comercio $</a>
          </li>
          <li class="nav-item {% if request.path == '/negocear/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Negoseo' %}" style="font-weight: bold; font-size: 1.2em; ">$ Negociar $</a>
          </li>
          <li class="nav-item {% if request.path == '/contacto/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Contacto' %}" style="font-weight: bold; font-size: 1.2em; ">Contacto</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>

  <!-- Contenido cambiante -->
   {% block content %}

   {% endblock %}

    <!-- Footer -->
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0">
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	    </p>
        <p class="m-0 mbt">
        	<a href="sample.html" class="link">by: Alejandro AM</a> ·
        	<a href="sample.html" class="link">2024</a> ·
        	<a href="sample.html" class="link">Me reservo todos los derecho de autor</a>
		</p>
        <p class="m-0 mbt1">&copy; Comercio de EAFIT</p>
      </div>
	</footer>

    <!-- Bootstrap -->
    <script src="{% static 'ComercioEafitApp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'ComercioEafitApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>


</html>